* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #E5E5E5;
}

.disable-menu {
  opacity: 15%;
  pointer-events: none;
}

.disable-click {
  pointer-events: none;
}

.disable-scroll {
  overflow: hidden;
}

.display-none {
  display: none !important;
}

.pd-21 {
  padding-left: 21px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.bold {
  font-weight: 700;
}

.clickable {
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  margin-top: 156px;
  margin-bottom: 106px;

  position: relative;
  gap: 27px;
}

.header {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 21px;

  background-color: #CF2B2B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  position: fixed;
  top: 0px;

  z-index: 1;
}

.header h1 {
  color: white;
  font-weight: 400;
  font-size: 44px;
  letter-spacing: -0.012em;

  font-family: 'Righteous', cursive;
}

.header h2 {
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 3px;

  font-family: 'Roboto', sans-serif;
}

.menu h1 {
  color: #333333;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.018em;

  font-family: 'Righteous', cursive;
}

.scroll-box {
  margin-top: 10px;
  gap: 16px;
  overflow-x: scroll;
  padding-left: 20px;
  padding-right: 20px;
  scroll-padding: 20px;
  scroll-snap-type: x mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-box::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-box {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.item {
  max-width: 172px;
  width: 100%;
  padding: 15px;

  background: #FFFFFF;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;

  scroll-snap-align: start;
  scroll-snap-stop: always;

  flex-shrink: 0;
  position: relative;

  cursor: pointer;
}

.item img {
  width: 100%;
  border-radius: 4px;
}

.item h1 {
  padding-top: 8px;

  color: #333333;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;

  font-family: 'Roboto', sans-serif;
}

.item h2 {
  padding-top: 4px;

  color: #A6A6A6;
  font-weight: 300;
  font-size: 15px;
  line-height: 17.58px;

  font-family: 'Roboto', sans-serif;
}

.item p {
  padding-top: 8px;

  color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;

  font-family: 'Roboto', sans-serif;
}

.footer {
  width: 100%;
  padding: 15px 25px;
  
  background-color: white;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15);

  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;

  z-index: 1;
}

.footer .rounded {
  width: 100%;
  min-height: 62px;
  background-color: #CBCBCB;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 50px;

  align-items: center;
  justify-content: center;

}

.footer .rounded p {
  max-width: 200px;
  padding: 5px;

  color: white;
  font-size: 20px;
  line-height: 23.44px;
  text-align: center;

  font-family: 'Roboto', sans-serif;
}

.selected {
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

.selected ion-icon {
  color: #32B72F;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.confirm-order {
  margin: 0 auto; 

  max-width: 377px;
  width: 100%;
  padding: 25px;

  background-color: #50D074;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 9px;

  gap: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  color: white;
  font-size: 22px;

  font-family: 'Roboto', sans-serif;
}


.confirm-order .new-order { 
}

.confirm-order h1 {
  margin-bottom: 21px;

  font-weight: 700;
  line-height: 25.78px;
  text-align: center;
}

.confirm-order .rounded {
  width: 100%;
  background-color: #FFFFFF;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 50px;

  margin-top: 18px;

  align-items: center;
  justify-content: center;
}

.confirm-order .rounded p {
  padding: 12px 0px;

  color: #50D074;
  font-weight: 700;
  line-height: 25.78px;
  letter-spacing: 0.018em;
  text-align: center;
}